In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("spotify_millsongdata.csv")

In [5]:
df.head(780)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \nAnd..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \nTouch me gentl..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \nWhy I had t...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...
...,...,...,...,...
775,Ariana Grande,Direct Contact,/a/ariana+grande/direct+contact_21066591.html,"If you were mine, boy! There would no be no mo..."
776,Ariana Grande,Higher,/a/ariana+grande/higher_20979966.html,(Hahaha) lalala uhuh \nBeen runnin' 'round in...
777,Ariana Grande,Honeymoon Avenue,/a/ariana+grande/honeymoon+avenue_20996813.html,I looked in my rear view mirror and \nIt seem...
778,Ariana Grande,Just A Little Bit Of Your Heart,/a/ariana+grande/just+a+little+bit+of+your+hea...,"[Verse 1] \nOh, oh, oh, oh \nI don't ever as..."
779,Ariana Grande,Not Just On Christmas,/a/ariana+grande/not+just+on+christmas_2110513...,"[Refrain 1] \nI'll love you till I die, boy ..."

In [6]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [7]:
df = df.sample(20000).drop('link', axis=1).reset_index(drop=True)

In [8]:
df.head(5000)

,artist,song,text
0,Old 97's,Bloomington,She drove a blue car around Bloomington \nShe...
1,Flo-Rida,Hey Jasmin,Yeah Flo Rida... I Run The World With This One...
2,Michael W. Smith,All I Want,All I have in this world \nIs fire from above...
3,Bill Withers,Ruby Lee,Staring at shadows on the wall \nWish I knew ...
4,NOFX,Pump Up The Valium,One time weekly rate twelve by twelve room \n...
...,...,...,...
4995,Xandria,Vampire,"Dark are the streets, gloom's creeping out of ..."
4996,Wishbone Ash,So Many Things To Say,You want me to go and steal \nA million dolla...
4997,Judas Priest,Victim Of Changes,Whiskey woman don't you know that you are driv...
4998,Helloween,Cold Sweat,I put my money in the suitcase \nAnd headed f...
4999,Next To Normal,Aftershocks,"Gabe \nThey've managed to get rid of me, \nR..."

In [9]:
df['text'][0]

"She drove a blue car around Bloomington  \nShe was a thin girl but she had substance  \nShe said that most girls who come to Bloomington  \nOnly come here to find husbands  \nThe existence of God was confirmed  \nBy the way she unfolded herself alongside  \nAnd I tried to harden my heart  \nBut she wouldn't let me, she wouldn't let me  \nOh oh Bloomington, Bloomington  \nWhen the rest of the world is over and done  \nOh oh you'll still be the only one  \nI'll ever love Bloomington  \nIn a park that doubled as a parking lot  \nThere was music it was free  \nOh the girl in pink took a sip of my drink  \nAnd laid down next to me  \nYeah the way she unfolded herself  \nWas an earthquake a hurricane tidal wave flood  \nThis is love baby this is love  \nThe moment she let me, the moment she let me  \nOh Bloomington, Bloomington  \nWhen the rest of the world is over and done  \nOh oh you'll still be the only one  \nI'll ever love Bloomington  \nShe drove a blue car around Bloomington  \nShe was a thin girl but she had substance  \nShe said that most girls who come to Bloomington  \nOnly come here to find husbands  \nBloomington, Bloomington  \nWhen the rest of the world is over and done  \nOh oh you'll still be the only one  \nI'll ever love Bloomington  \nShe drove a blue car around Bloomington  \nShe was a thin girl but she had substance  \nShe said that most girls who come to Bloomington  \nOnly come here to find husbands  \nBloomington, Bloomington  \nWhen the rest of the world is over and done  \nOh oh you'll still be the only one  \nI'll ever love Bloomington  \nBloomington, Bloomington  \nWhen the rest of the world is over and done  \nYou'll still be the only one  \nI'll ever love Bloomington  \nYou'll still be the only one  \nI'll ever love Bloomington  \n\n"

In [10]:
df.shape

(20000, 3)

Text Cleaning/ Text Preporcessing

In [11]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', '').replace(r'\n',' ', regex = True)

In [12]:
df.tail(5)

,artist,song,text
19995,Pitbull,Celebrate,"mr. worldwide let's celebrate 1, 2, 1, 2, ..."
19996,Will Smith,Yes Yes Y'all,yes at the start of the new jiggyness with...
19997,Roxette,I Remember You,are you ready? go! i hear your footsteps lik...
19998,Usher,Bedtime,craving your body all through the night feel...
19999,Olivia Newton-John,Boats Against The Current,i know it's over you know it's over we're ...

In [13]:
import nltk
from nltk.stem.porter import PorterStemmer

In [14]:
stemmer = PorterStemmer()

In [15]:
def token(txt):
    token = nltk.word_tokenize(txt)
    a =[stemmer.stem(w) for w in token]
    return " ".join(a)

In [16]:
token("you are beautiful, beauty")

'you are beauti , beauti'

In [17]:
df['text'].apply(lambda x: token(x))

0        she drove a blue car around bloomington she wa...
1        yeah flo rida ... i run the world with thi one...
2        all i have in thi world is fire from abov all ...
3        stare at shadow on the wall wish i knew of som...
4        one time weekli rate twelv by twelv room strap...
                               ...
19995    mr. worldwid let 's celebr 1 , 2 , 1 , 2 , 3 ,...
19996    ye at the start of the new jiggy with the trac...
19997    are you readi ? go ! i hear your footstep like...
19998    crave your bodi all through the night feel lik...
19999    i know it 's over you know it 's over we 're j...
Name: text, Length: 20000, dtype: object

In [18]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [19]:
tfid = TfidfVectorizer(analyzer='word', stop_words='english')

In [20]:
matrix = tfid.fit_transform(df['text'])

In [21]:
similar = cosine_similarity(matrix)

In [22]:
similar[0]

array([1.        , 0.04036258, 0.04460493, ..., 0.01449713, 0.02712165,
       0.00922924], shape=(20000,))

In [23]:
df[df['song'] == 'Dangerous Woman']

,artist,song,text
10321,Ariana Grande,Dangerous Woman,[verse 1] don't need permission made my de...

Recommender Function

In [24]:
def recommender(song_name):
    idx = df[df['song'] == song_name].index[0]
    distance = sorted(list(enumerate(similar[idx])), reverse = True, key = lambda x:x[1])
    song = []
    for s_id in distance[1:5]:
        song.append(df.iloc[s_id[0]].song)
    return song

In [25]:
import pickle

In [26]:
pickle.dump(similar, open("similarity.pkl", "wb"))

In [27]:
pickle.dump(df, open("df.pkl", "wb"))