In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("spotify_millsongdata.csv")

In [3]:
df.head(780)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...
...,...,...,...,...
775,Ariana Grande,Direct Contact,/a/ariana+grande/direct+contact_21066591.html,"If you were mine, boy! There would no be no mo..."
776,Ariana Grande,Higher,/a/ariana+grande/higher_20979966.html,(Hahaha) lalala uhuh \r\nBeen runnin' 'round ...
777,Ariana Grande,Honeymoon Avenue,/a/ariana+grande/honeymoon+avenue_20996813.html,I looked in my rear view mirror and \r\nIt se...
778,Ariana Grande,Just A Little Bit Of Your Heart,/a/ariana+grande/just+a+little+bit+of+your+hea...,"[Verse 1] \r\nOh, oh, oh, oh \r\nI don't eve..."
779,Ariana Grande,Not Just On Christmas,/a/ariana+grande/not+just+on+christmas_2110513...,"[Refrain 1] \r\nI'll love you till I die, boy..."

In [4]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [5]:
df = df.sample(40000).drop('link', axis=1).reset_index(drop=True)

In [6]:
df.head(5000)

,artist,song,text
0,Donna Summer,(Theme) Once Upon A Time,"(Voice monologue over ""Once Upon A Time"" instr..."
1,Garth Brooks,Wild As The Wind,Johnny grew up \r\nOn the dark side of the la...
2,Leann Rimes,Long Night,Feel the underground breeze as the trains good...
3,Nina Simone,Keeper Of The Flame,I'm the keeper of the flame \r\nMy torch of l...
4,Insane Clown Posse,Jack Jeckel,Boom shaka boom shaka \r\nBoom shaka boom sha...
...,...,...,...
4995,Marillion,White Russian,Where do we go from here? \r\nWhere do we go ...
4996,The Monkees,"That Was Then, This Is Now",You always say you like my style. \r\nYou say...
4997,Leann Rimes,Where I Stood,I don't know what I've done \r\nOr if I like ...
4998,Phineas And Ferb,F-Games,Na-na na-na na \r\nNa-na na-na na \r\nNa-na ...
4999,Cyndi Lauper,Unconditional Love,And I want to be everything \r\nYou want me t...

In [7]:
df['text'][0]

'(Voice monologue over "Once Upon A Time" instrumental)  \r\n  \r\nOnce upon a time, there was a girl  \r\nShe lived in the land of never-never  \r\nWhere everything real is unreal  \r\nAnd only fairy tales come true  \r\nSomething like me and you  \r\n  \r\nBut she believed that what she dreamed of could be real  \r\nSo she strived on to make it come true  \r\nFighting odds, not knowing what would come of her  \r\nNever giving up the hope within her  \r\n  \r\nShe carried on and on, because she believed  \r\nThat once, once in a time in her lifetime  \r\nThe things so unreal would be real  \r\n  \r\nAnd in the morning, one day when she awoke  \r\nTo find herself surrounded by the same old room  \r\nShe was disappointed  \r\n  \r\nSo she dreamed and she dreamed  \r\nAnd she dreamed and she dreamed and she dreamed  \r\nAnd she said that fairy tales do come true  \r\n\'cause I believe, I believe  \r\n  \r\nAnd she kept trying, and she kept right on fighting  \r\nTill one day she met a man who held her tight  \r\nAnd she fell in love  \r\n  \r\nOnce upon a time, in the land of never-never  \r\nWhere all things real are unreal  \r\nThere lived a girl who believed  \r\nThat all things could be possible  \r\n  \r\nAnd one day she did awake  \r\nAnd found herself somewhere else  \r\nBeside her a brand new face  \r\nOf someone that she loved\r\n\r\n'

In [8]:
df.shape

(40000, 3)

Text Cleaning/ Text Preporcessing

In [9]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', '').replace(r'\n',' ', regex = True)

In [10]:
df.tail(5)

,artist,song,text
39995,Vince Gill,If You Ever Have Forever In Mind,"you're climbing mountains, i'm on a hill \r y..."
39996,Nicki Minaj,Doin' It Well,[talkin: jadakiss] \r ay yo yo yo ay yo what!...
39997,Billy Joel,She's Right On Time,turn on all the christmas lights \r cause bab...
39998,Black Sabbath,Methademic,the epidemic from a crystal lie \r puts you i...
39999,Taylor Swift,Ours,"elevator buttons and morning air, \r stranger..."

In [11]:
import nltk
from nltk.stem.porter import PorterStemmer

In [12]:
stemmer = PorterStemmer()

In [13]:
def token(txt):
    token = nltk.word_tokenize(txt)
    a =[stemmer.stem(w) for w in token]
    return " ".join(a)

In [14]:
token("you are beautiful, beauty")

'you are beauti , beauti'

In [15]:
df['text'].apply(lambda x: token(x))

0        ( voic monologu over `` onc upon a time '' ins...
1        johnni grew up on the dark side of the law liv...
2        feel the underground breez as the train good b...
3        i 'm the keeper of the flame my torch of love ...
4        boom shaka boom shaka boom shaka boom shaka bo...
                               ...
39995    you 're climb mountain , i 'm on a hill you 'r...
39996    [ talkin : jadakiss ] ay yo yo yo ay yo what !...
39997    turn on all the christma light caus babi 's co...
39998    the epidem from a crystal lie put you in super...
39999    elev button and morn air , stranger silenc mak...
Name: text, Length: 40000, dtype: object

In [16]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [17]:
tfid = TfidfVectorizer(analyzer='word', stop_words='english')

In [18]:
matrix = tfid.fit_transform(df['text'])

In [19]:
similar = cosine_similarity(matrix)

In [20]:
similar[0]

array([1.        , 0.00765548, 0.03284577, ..., 0.07882268, 0.02054414,
       0.03754434], shape=(40000,))

In [21]:
df[df['song'] == 'Dangerous Woman']

,artist,song,text
13931,Ariana Grande,Dangerous Woman,[verse 1] \r don't need permission \r made m...

Recommender Function

In [22]:
def recommender(song_name):
    idx = df[df['song'] == song_name].index[0]
    distance = sorted(list(enumerate(similar[idx])), reverse = True, key = lambda x:x[1])
    song = []
    for s_id in distance[1:5]:
        song.append(df.iloc[s_id[0]].song)
    return song

In [23]:
recommender("Dangerous Woman")

["Somethin' 'bout The Goldie In Me",
 "Can't Stop Thinkin' 'Bout You",
 'Get Your Number',
 "Talkin' 'Bout You"]

In [24]:
import pickle

In [25]:
pickle.dump(similar, open("similarity.pkl", "wb"))

In [26]:
pickle.dump(df, open("df.pkl", "wb"))