In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("spotify_millsongdata.csv")

In [3]:
df.head(780)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...
...,...,...,...,...
775,Ariana Grande,Direct Contact,/a/ariana+grande/direct+contact_21066591.html,"If you were mine, boy! There would no be no mo..."
776,Ariana Grande,Higher,/a/ariana+grande/higher_20979966.html,(Hahaha) lalala uhuh \r\nBeen runnin' 'round ...
777,Ariana Grande,Honeymoon Avenue,/a/ariana+grande/honeymoon+avenue_20996813.html,I looked in my rear view mirror and \r\nIt se...
778,Ariana Grande,Just A Little Bit Of Your Heart,/a/ariana+grande/just+a+little+bit+of+your+hea...,"[Verse 1] \r\nOh, oh, oh, oh \r\nI don't eve..."
779,Ariana Grande,Not Just On Christmas,/a/ariana+grande/not+just+on+christmas_2110513...,"[Refrain 1] \r\nI'll love you till I die, boy..."

In [4]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [5]:
df = df.sample(10000).drop('link', axis=1).reset_index(drop=True)

In [6]:
df.head(5000)

,artist,song,text
0,Linda Ronstadt,Anyone Who Had A Heart,Anyone who ever loved could look at me \r\nAn...
1,Cliff Richard,Great Balls Of Fire,You shake my nerves and you rattle my brain \...
2,James Taylor,Family Man,"Woah, Jocko, don't expect me \r\nTo come out ..."
3,Incubus,Paper Shoes,I fly \r\nI soar \r\nThis I \r\nAdore \r\n...
4,Halloween,Halloween Day,By Listen and Learn \r\n \r\nDo you know abo...
...,...,...,...
4995,Bob Seger,Boomtown Blues,Southern sun \r\nRidin' high \r\nWinter nigh...
4996,Oasis,I Wanna Live A Dream (In My Record Machine),"Help me, defy the light the shining on me \r\..."
4997,Boney M.,Lady Godiva,Her name was Lady Godiva \r\nA lady so brave ...
4998,Ziggy Marley,Beach In Hawaii,On the beach in Hawaii \r\n \r\nI wish you w...
4999,Les Miserables,The Waltz Of Treachery,Thenardier \r\nWhat to do? What to say? \r\n...

In [7]:
df['text'][0]

"Anyone who ever loved could look at me  \r\nAnd know that I love you  \r\nAmyone who ever dreamed could look at me  \r\nAnd know I dream of you  \r\n  \r\nKnowing I love you so  \r\nAnyone who had a heart  \r\nWould take me in his arms and love me too  \r\nYou couldn't really have a heart and hurt me  \r\nLike you hurt me and be so untrue  \r\nWhat am I to do  \r\n  \r\nEvery time you go away I always say  \r\nThis time it's goodbye dear  \r\nLoving you the way I do I'd take you back  \r\nWithout you I'd die dear  \r\n  \r\nKnowing I love you so  \r\nAnyone who had a heart  \r\nWould take me in his arms and love me too  \r\nYou couldn't really have a heart and hurt me  \r\nLike you hurt me and be so untrue  \r\nWhat am I to do  \r\n  \r\nKnowing I love you so  \r\nAnyone who had a heart  \r\nWould take me in his arms and love me too  \r\nYou couldn't really have a heart and hurt me  \r\nLike you hurt me and be so untrue  \r\nAnyone who had a heart would love me too  \r\nAnyone who had a heart would surely take me  \r\nIn his arms and always love me  \r\nWhy won't you, yeah  \r\nAnyone who had a heart would love me too  \r\nAnyone who had a heart would surely take me  \r\nIn his arms and always love me  \r\nWhy won't you  \r\nYeah  \r\nAnyone who had a heart would love me too\r\n\r\n"

In [8]:
df.shape

(10000, 3)

Text Cleaning/ Text Preporcessing

In [9]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', '').replace(r'\n',' ', regex = True)

In [10]:
df.tail(5)

,artist,song,text
9995,Faith No More,The Jungle,"well, just follow your heart \r man oh man \..."
9996,Green Day,My Generation,"well, people try to put us down. \r talkin' b..."
9997,Weezer,The Good Life,when i look in the mirror i can't believe what...
9998,Matt Redman,You Have Done Great Things,you have done great things \r you have done g...
9999,Eddie Cochran,My Blind Date,"blind date, blind date \r tonight's the night..."

In [11]:
import nltk
from nltk.stem.porter import PorterStemmer

In [12]:
stemmer = PorterStemmer()

In [13]:
def token(txt):
    token = nltk.word_tokenize(txt)
    a =[stemmer.stem(w) for w in token]
    return " ".join(a)

In [14]:
token("you are beautiful, beauty")

'you are beauti , beauti'

In [15]:
df['text'].apply(lambda x: token(x))

0       anyon who ever love could look at me and know ...
1       you shake my nerv and you rattl my brain too m...
2       woah , jocko , do n't expect me to come out dr...
3       i fli i soar thi i ador then like a locomot th...
4       by listen and learn do you know about a day th...
                              ...
9995    well , just follow your heart man oh man tri a...
9996    well , peopl tri to put us down . talkin ' bou...
9997    when i look in the mirror i ca n't believ what...
9998    you have done great thing you have done great ...
9999    blind date , blind date tonight 's the night i...
Name: text, Length: 10000, dtype: object

In [16]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [17]:
tfid = TfidfVectorizer(analyzer='word', stop_words='english')

In [18]:
matrix = tfid.fit_transform(df['text'])

In [19]:
similar = cosine_similarity(matrix)

In [20]:
similar[0]

array([1.        , 0.06013534, 0.00997665, ..., 0.07714413, 0.01290306,
       0.00189475], shape=(10000,))

In [21]:
df[df['song'] == 'Dangerous Woman']

Empty DataFrame
Columns: [artist, song, text]
Index: []

Recommender Function

In [22]:
def recommender(song_name):
    idx = df[df['song'] == song_name].index[0]
    distance = sorted(list(enumerate(similar[idx])), reverse = True, key = lambda x:x[1])
    song = []
    for s_id in distance[1:5]:
        song.append(df.iloc[s_id[0]].song)
    return song

In [23]:
import pickle

In [24]:
pickle.dump(similar, open("similarity.pkl", "wb"))

In [25]:
pickle.dump(df, open("df.pkl", "wb"))